{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    <li>
        <form id="file-upload-form" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <input required type="file" name="file" accept="application/json" />
            <input type="submit" value="Upload and Test" />
        </form>
    </li>
    {{ block.super }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
{% endblock %}

{% block extrahead %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById('file-upload-form');

            form.addEventListener('submit', (event) => {
                const fileInput = form.querySelector('input[type="file"]');
                const file = fileInput.files[0];
                const formData = new FormData();
                formData.append('file', file);

                if (file) {
                    event.preventDefault(); // 파일이 있는 경우에만 호출

                    // Add CSRF token
                    const csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                    const url = '{% url "process_file" %}';

                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': csrftoken,
                        },
                        body: formData,
                    })
                    .then(response => response.json())
                    .then(data => {
                        // 알림창에 JSON 응답 표시 후 새로고침
                        if (data.response_data) {
                            alert(`Response data: ${data.response_data}`);
                            window.location.reload();
                        } else if (data.error) {
                            alert(`Error: ${data.error}`);
                            window.location.reload();
                        }
                    })
                    .catch(error => {
                        console.error('There was an error processing your file. Please try again.', error);
                    });
                }
            });
        });
    </script>
{% endblock %}
